@font-face {
    font-family: Circular;
    font-weight: 800;
    src: url("./fonts/CircularStd-Black.otf") format("opentype");
}
@font-face {
    font-family: Circular;
    font-weight: 600;
    src: url("./fonts/CircularStd-Bold.otf") format("opentype");
}
@font-face {
    font-family: Circular;
    font-weight: 400;
    src: url("./fonts/CircularStd-Book.otf") format("opentype");
}
@font-face {
    font-family: Circular;
    font-weight: 400;
    font-style: italic;
    src: url("./fonts/CircularStd-BookItalic.otf") format("opentype");
}
@font-face {
    font-family: Circular;
    font-weight: 500;
    src: url("./fonts/CircularStd-Medium.otf") format("opentype");
}
@font-face {
    font-family: Tiempos;
    font-weight: 400;
    font-style: regular;
    src: url("./fonts/TiemposText-Regular.otf") format("opentype");
}
@font-face {
    font-family: Tiempos;
    font-weight: 400;
    font-style: italic;
    src: url("./fonts/TiemposText-RegularItalic.otf") format("opentype");
}

html {
 min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, li, em, b, i {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Circular', 'Arial', 'Helvetica', 'sans-serif';
}
